<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="nav navbar-nav">
    <a class="nav-item nav-link active" href="#" aria-current="page"
      >员工管理 <span class="visually-hidden">(current)</span></a
    >
    <!-- <a class="nav-item nav-link" href="#">Home</a> -->
  </div>
</nav>

<div class="container">
  <button type="button" class="btn btn-primary" (click)="openModal(template)">
    创建
  </button>

  <div class="table-responsive mt-3">
    <table class="table border">
      <thead>
        <tr>
          <th scope="col">卡号</th>
          <th scope="col">姓名</th>
          <th scope="col">部门</th>
          <th scope="col">入职时间</th>
          <th scope="col">状态</th>
          <th scope="col">操作</th>
        </tr>
      </thead>
      <tbody>
        @for (employee of employees; track employee.name) {
        <tr class="">
          <td>{{ employee.id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.department }}</td>
          <td>{{ employee.hire_date }}</td>
          <td>{{ employee.is_active }}</td>
          <td>
            <a
              [routerLink]="['/employee-edit', employee.id]"
              class="btn btn-primary"
              href="#"
              role="button"
              >编辑</a
            >
            <button
              type="button"
              class="btn btn-danger ms-3"
              (click)="onDelete(employee.id)"
            >
              删除
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">创建员工</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">姓名</label>
        <input
          type="text"
          id="name"
          formControlName="name"
          class="form-control"
        />
        <div
          *ngIf="
            employeeForm.get('name')?.invalid &&
            (employeeForm.get('name')?.dirty ||
              employeeForm.get('name')?.touched)
          "
          class="text-danger"
        >
          请输入姓名
        </div>
      </div>
      <div class="mb-3">
        <label for="department" class="form-label">部门</label>
        <input
          type="text"
          id="department"
          formControlName="department"
          class="form-control"
        />
        <div
          *ngIf="
            employeeForm.get('department')?.invalid &&
            (employeeForm.get('department')?.dirty ||
              employeeForm.get('department')?.touched)
          "
          class="text-danger"
        >
          请输入部门
        </div>
      </div>
      <div class="mb-3">
        <label for="hire_date" class="form-label">入职时间</label>
        <input
          type="date"
          id="hire_date"
          formControlName="hire_date"
          class="form-control"
        />
        <div
          *ngIf="
            employeeForm.get('hire_date')?.invalid &&
            (employeeForm.get('hire_date')?.dirty ||
              employeeForm.get('hire_date')?.touched)
          "
          class="text-danger"
        >
          请输入入职时间
        </div>
      </div>
      <div class="mb-3">
        <label for="salary" class="form-label">Salary</label>
        <input
          type="number"
          id="salary"
          formControlName="salary"
          class="form-control"
        />
        <div
          *ngIf="
            employeeForm.get('salary')?.invalid &&
            (employeeForm.get('salary')?.dirty ||
              employeeForm.get('salary')?.touched)
          "
          class="text-danger"
        >
          薪资不能小于0
        </div>
      </div>
      <div class="mb-3">
        <label for="is_active" class="form-check-label">状态</label>
        <input
          type="checkbox"
          id="is_active"
          formControlName="is_active"
          class="form-check-input"
        />
      </div>
      <button type="submit" class="btn btn-primary">提交</button>
    </form>
  </div>
</ng-template>
